@page "/animation"
<h3>Declarative Babylon</h3>
<BabylonCanvas ID="babylon5" PrepareStage="prepareStage" PrepareScene="prepareScene" style="width: 80%;height: 500px;">
    <AnimationButton ElementID="babylon5" Animation="Idle" />
    <AnimationButton ElementID="babylon5" Animation="Walk" />
    <AnimationButton ElementID="babylon5" Animation="Run" />
    <LoadMeshButton ElementID="babylon5" FileName="dummy3.babylon.json" MeshName="YBot" />
    <RemoveMeshButton ElementID="babylon5" MeshName="YBot" />
</BabylonCanvas>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            string MethodName = "loadMesh";
            string ElementID = "babylon5";
            string FileName = "dummy3.babylon.json";
            string MeshName = "YBot";

            string ClickAction = $"{MethodName}('{ElementID}','{FileName}','{MeshName}')";

            // Need to call the JavaScript loadMesh method here
        }
    }
}